<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migrador de datos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/97a88bff0a.js"></script>
    <link href="https://kit-pro.fontawesome.com/releases/v5.15.3/css/pro.min.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/Main.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/dropzone/basic.css" />
    <script type="text/javascript" src="~/Scripts/dropzone/dropzone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="~/Scripts/Alerts.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h4 class="text-white mx-auto">Migrador de datos</h4>
    </nav>  
    <div class="container body-content">
        @RenderBody()
        <hr class="bg-white mt-5" />
        <footer>
            <p class="text-white">&copy; @DateTime.Now.Year - Migrador de datos</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
    
</body>
</html>
